*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(to right, #0f0715, #39206a);
  color: white;
  /* scrollbar-color: #8750f7 var(--tj-theme-secondary); */
}

img {
  max-width: 100%;
  width: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}


button {
  text-align: center;
  color: #fff;
  background-color: var(--gray);
  padding: 0.8rem 2.5rem;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: var(--smooth);
}

button:hover {
  background-color: var(--green-l);
  transition: var(--smooth);
}

:root {
  --green: #15d48e;
  --green-l: #a4cec0;
  --gray: #b2b1c4;
  --smooth: all 0.3s ease-in;
}

/* === Overlay === */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 4;
  display: none;
}
.tech{
  display: flex;
  justify-content: center;
}
.tech img{
  width: 50px;
  margin: 10px 10px;
}
.text-style {
  text-align: left;
  max-width: 50%;
  color: rgb(113, 109, 103);
}


#overlay.show {
  display: initial;
}

/* === Header === */
header {
  position: absolute;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

/* logo */
.navbar__logo img {
  width: 57px;
  height: 57px;
  object-fit: cover;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

/* menu */
.navbar__links {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background-color: var(--gray);
  z-index: 5;
  transition: var(--smooth);
  transform: translateX(-100%);
  opacity: 0;
}

.navbar__links.navbar__open {
  transform: translateX(0);
  opacity: 1;
  transition: var(--smooth);
}

.navbar__link {
  list-style: none;
  margin: 30px;

}

.navbar__link a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 5px;
  transition: var(--smooth);
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.navbar__link a:hover {
  color: #a4cec0;
  border-radius: 100px;
  transition: var(--smooth);
}

.navbar__btn {
  font-size: 1rem;
  background-color: var(--green);
  margin-left: 45px;
}

/* menu button */
.navbar__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: var(--smooth);
  z-index: 6;
}

.navbar__icon {
  width: 45px;
  height: 6px;
  background-color: var(--gray);
  border-radius: 5px;
  transition: var(--smooth);
  position: relative;
}

.navbar__icon:before,
.navbar__icon:after {
  content: "";
  position: absolute;
  width: 45px;
  height: 6px;
  background-color: var(--gray);
  border-radius: 5px;
  transition: var(--smooth);
}

.navbar__icon:before {
  transform: translateY(-12px);
}

.navbar__icon:after {
  transform: translateY(12px);
}

/* button animation */
.open .navbar__icon {
  transform: translateX(-50px);
  background: transparent;
}

.open .navbar__icon:before {
  transform: rotate(45deg) translate(35px, -35px);
}

.open .navbar__icon:after {
  transform: rotate(-45deg) translate(35px, 35px);
}

@media (min-width: 62em) {
  .navbar__links {
    position: initial;
    transform: translateX(0);
    opacity: 1;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .navbar__link a {
    color: var(--gray);
  }

  .navbar__icons {
    display: none;
  }

  .navbar__btn {
    background-color: var(--gray);
  }
}

/* === Banner === */
#banner {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner__img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.banner__content h4,
.banner__content h1,
.banner__content h3 {
  margin: 0;
  /* Loại bỏ khoảng cách mặc định của các thẻ tiêu đề */
  padding: 0;
  /* Loại bỏ khoảng cách trong thẻ nếu cần */
}

.banner__content {
  display: flex;
  align-items: flex-start;
  /* Căn chỉnh dọc */
  justify-content: space-around;
  /* Căn chỉnh ngang nếu cần */

  /* Khoảng cách giữa tiêu đề và hình ảnh */
  padding-top: 10px;
}

.banner__content h3 {
  opacity: 0;
  animation: slideTop 1s ease forwards;
}


@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#Backend {
  font-size: 35px;
  font-weight: bold;
  color: rgb(49, 159, 159);
}

.banner__heading {
  max-width: 100%;
  text-align: left;
  /* Căn chỉnh văn bản sang trái */
  color: var(--gray);
  width: 50%;
  /* Thay đổi giá trị để điều chỉnh chiều rộng */
  max-width: 1200px;
  /* Đặt giới hạn chiều rộng tối đa nếu cần */
  margin: 0 auto;
  /* Căn giữa khối div */
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.banner__heading h3 {
  font-size: 2.25rem;
  margin-bottom: 20px;
}

.banner__heading p {
  font-weight: 300;
  line-height: 2em;
  margin-bottom: 1.5em;
}

.banner__image {
  position: relative;

}

.banner__image img {
  display: block;
  height: auto;
  width: 300px;
  /* Hoặc kích thước bạn muốn */
  -webkit-mask-image: linear-gradient(to top, transparent, black 80%);
  mask-image: linear-gradient(to top, transparent, black 70%);
  /* Thay đổi màu sắc và các giá trị gradient để đạt hiệu ứng mong muốn */
  /* box-shadow: ; */
  animation: floatImage 10s ease-in-out infinite;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(var(--x) * 0.2s);
  filter: brightness(60%);
  box-shadow: 0 1px 20px #e70000;
}

.banner__image {
  color: #112D60;
 
  animation: floatImage 4s ease-in-out infinite;
}


.social {
  /* margin-top: 3em; */
  display: flex;
  justify-content: start;
  font-size: 2rem;

}

.social i {
  margin: 10px;
  font-size: 20px;
}

.social a {
  border: solid rgb(219, 193, 193);
  border-radius: 50%;
  font-size: 20px;
  margin: 5px;
  transition: .5s ease-in;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(var(--x) * 0.2s);
  /* Thay đổi */
  
}


.social a:hover {
  background-color: #15d48e;
  color: #112D60;
  box-shadow: 0 0 20px #15d48e;
}





.banner__btn {
  font-size: 1rem;
}

.banner__socials {
  margin-top: 3em;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
}

.banner__socials a {
  color: var(--gray);
  transition: var(--smooth);
}

.banner__socials a:hover {
  color: var(--green-l);
  transition: var(--smooth);
}

@media (min-width: 62em) {
  .banner__heading {
    text-align: initial;
    margin: 0;
    padding-top: 0;
  }

  .banner__socials {
    justify-content: flex-start;
  }

  .banner__socials a {
    margin-right: 45px;
  }

  .banner__img {
    width: 60%;
  }
}

/* === Things === */
#things {
  position: relative;
  overflow-x: hidden;
  /* margin-top: 15em; */
  padding-top: 5rem;
  padding-bottom: 23em;
}

#things h2 {
  text-align: center;
  color: var(--gray);
  margin-bottom: 3em;
}

.things__dec {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-60%);
  z-index: -1;
}

.things__dec:nth-child(2) {
  top: initial;
  left: initial;
  bottom: 15%;
  right: 0;
  transform: translateX(60%);
  z-index: -1;
}

.things__item {
  margin: 3em 0;
}

.things__item img {
  padding-bottom: 4em;
}

.things__item--heading {
  text-align: center;
  color: var(--gray);
}

.things__item--heading p {
  font-weight: 300;
  line-height: 2em;
  max-width: 300px;
  margin: 0 auto;
  padding-top: 1em;
}

@media (min-width: 62em) {
  .things__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  .things__item img {
    width: 40%;
    padding-bottom: 0;
  }

  .things__item--heading {
    width: 45%;
    text-align: initial;
  }

  .things__item--heading p {
    max-width: 500px;
    margin: 0;
  }

  .things__item:nth-child(odd) img {
    order: 2;
    width: 40%;
    padding-bottom: 0;
  }

  .things__item--heading:nth-child(odd) {
    order: 1;
    width: 45%;
    text-align: initial;
  }
}

/* === Works === */
#works {
 
  padding-bottom: 23em;
  position: relative;
  overflow-x: hidden;
}

#works h2 {
  text-align: center;
  color: var(--gray);
}

.works__dec {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-60%);
  z-index: -1;
}

.works__dec:nth-child(2) {
  position: absolute;
  top: initial;
  left: initial;
  bottom: 15%;
  right: 0;
  transform: translateX(60%);
  z-index: -1;
}

.works__img--single {
  margin: 2em 0;
}

.works__img--single:nth-child(odd) {
  padding-top: 5em;
}

.works__img--single:nth-child(3) {
  margin-top: -5em;
}

.works__btn {
  text-align: center;
  margin-top: 8em;
}

.works__btn button {
  font-size: 1rem;
}

@media (min-width: 62em) {
  #works h2 {
    /* margin-bottom: 1em; */
  }

  .works__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .works__img--single {
    margin: 0 5em;
    width: 35%;
  }

  .works__img--single:nth-child(3) {
    margin-top: 0;
  }
}

/* === Footer === */
#footer {
  overflow: hidden;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
}

.footer__img {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(25%);
  z-index: -1;
}

.footer__heading h1 {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  color: var(--gray);
}

.footer__contact {
  margin-top: 2em;
  display: flex;
  justify-content: space-evenly;
}

.footer__contact a {
  text-decoration: none;
  color: var(--gray);
}

.footer__dec {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-45%);
  z-index: -1;
}

@media (min-width: 62em) {
  .footer__img {
    top: -15%;
    right: 0;
    transform: translateX(32%);
    width: 60%;
  }

  .footer__heading {
    text-align: initial;
    margin: 0;
  }

  .footer__contact {
    /* display: flex;
    justify-content: space-between; */
  }
}

.contact__form {
  display: grid;
  gap: 1.5rem;
  background-color: var(--tj-theme-accent-2);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(10, 0, 0, 0.2);
}

.contact__group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.contact__input {
  padding: 1.25rem;
  background-color: var(--tj-theme-primary-3);
  color: white;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: border 0.3s ease, background-color 0.3s ease;
}

.contact__input:focus {
  border: 1px solid var(--tj-theme-primary);
  background-color: var(--tj-theme-primary-2);
}

.contact__input::placeholder {
  color: #ccc;
}
.contact__input::placeholder:hover {
  color: #15d48e;
}
.contact__input::placeholder {
  color: #ccc; /* Màu mặc định của placeholder */
  transition: color 0.3s ease;
}

.contact__input:hover::placeholder {
  color: #15d48e; /* Màu của placeholder khi hover */
}

.contact__area {

  width: 100%; /* Đặt chiều rộng cố định */
  height: 150px; /* Đặt chiều cao cố định */
  resize: none; 
}

.contact__button {
  background-color: var(--tj-theme-primary);
  color: white;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-weight: 600;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.contact__button:hover {
  background-color: var(--tj-theme-primary-1);
  color: #15d48e;
}

.cobtact__message {
  margin-top: 1rem;
  color: var(--tj-theme-primary);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 768px) {
  .contact__group {
    grid-template-columns: 1fr;
  }

  .contact__button {
    width: 100%;
  }
}


#myInfo{
  color: var(--gray);
}

.myInfo-item {  
  /* background-color: #0f0715; */
  border: 2px solid #6c5b7b;
  border-radius: 20px;
  padding: 20px;
  margin: 20px 0;
  color: #f8f8f2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  width: 49%;
}

.myInfo-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.myInfo-item h5 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #4564d4;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border-bottom: 2px solid #ff6f61;
  padding-bottom: 10px;
}

.tech img {
  margin-right: 10px;
  transition: transform 0.2s ease-in-out;
}

.tech img:hover {
  transform: scale(1.2);
}

.experience-content p, .achievements-content p {
  font-size: 16px;
  line-height: 1.6;
}

.experience-content p strong, .achievements-content p strong {
  color: var(--gray);
}

#myInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.all_tech, .experience-content, .achievements-content {
  margin-top: 15px;
}


a:hover {
  text-decoration: underline;
}

h6 {
  font-size: 18px;
  color: #c9c9c9;
  margin-bottom: 10px;
}

p {
  color: #bbbbbb;
}
